<launch>
  <arg name="namespace" default="vehicle"/>
  <arg name="config_file"
       default="$(find learning_speed_rl)/config/speed_adapter.yaml"/>
  <arg name="static_max_vel" default="4.00"/>
  <arg name="static_min_vel" default="0.05"/>
  <arg name="policy_mode" default="mock"/>
  <arg name="mock_request_driven" default="false"/>
  <arg name="fixed_v_max" default="0.30"/>
  <arg name="odom_topic" default="Odometry"/>
  <arg name="occupancy_topic" default="stage3/occupancy_inflate"/>
  <arg name="position_command_topic" default="planning/pos_cmd"/>
  <arg name="local_goal_topic" default="move_base_simple/goal"/>

  <group ns="$(arg namespace)">
    <node pkg="learning_speed_rl" type="speed_adapter_node.py"
          name="speed_adapter" output="screen" required="true">
      <rosparam command="load" file="$(arg config_file)"/>
      <param name="safety/v_max_min" value="$(arg static_min_vel)"/>
      <param name="safety/v_max_max" value="$(arg static_max_vel)"/>
      <param name="safety/initial_v_max" value="$(arg fixed_v_max)"/>
      <param name="policy/mode" value="$(arg policy_mode)"/>
      <param name="timing/mock_request_driven"
             value="$(arg mock_request_driven)"/>
      <param name="policy/fixed_v_max" value="$(arg fixed_v_max)"/>
      <param name="policy/mock_default_v_max" value="$(arg fixed_v_max)"/>
      <param name="topics/odom" value="$(arg odom_topic)"/>
      <param name="topics/occupancy" value="$(arg occupancy_topic)"/>
      <param name="topics/position_command"
             value="$(arg position_command_topic)"/>
      <param name="topics/local_goal" value="$(arg local_goal_topic)"/>
    </node>
  </group>
</launch>
