<launch>
  <arg name="model_path"/>
  <arg name="python_exec" default="/usr/bin/python3"/>
  <arg name="device" default="cpu"/>

  <include file="$(find yolo_detect)/launch/ppe_yolo_uav.launch">
    <arg name="vehicle_ns" value="uav1"/>
    <arg name="camera_name" value="uav1_d435"/>
    <arg name="model_path" value="$(arg model_path)"/>
    <arg name="python_exec" value="$(arg python_exec)"/>
    <arg name="device" value="$(arg device)"/>
  </include>
  <include file="$(find yolo_detect)/launch/ppe_yolo_uav.launch">
    <arg name="vehicle_ns" value="uav2"/>
    <arg name="camera_name" value="uav2_d435"/>
    <arg name="model_path" value="$(arg model_path)"/>
    <arg name="python_exec" value="$(arg python_exec)"/>
    <arg name="device" value="$(arg device)"/>
  </include>
  <include file="$(find yolo_detect)/launch/ppe_yolo_uav.launch">
    <arg name="vehicle_ns" value="uav3"/>
    <arg name="camera_name" value="uav3_d435"/>
    <arg name="model_path" value="$(arg model_path)"/>
    <arg name="python_exec" value="$(arg python_exec)"/>
    <arg name="device" value="$(arg device)"/>
  </include>
</launch>
