<launch>
  <!-- Current AstraDroneOpen worksite UAV1 training checkpoint and ENTRY gate. -->
  <arg name="gui" default="false"/>
  <arg name="hover_x" default="0.0"/>
  <arg name="hover_y" default="0.0"/>
  <arg name="episode_count" default="5"/>
  <arg name="runner_mode" default="qualification"/>
  <arg name="fixed_v_max" default="0.30"/>
  <arg name="v_max_min" default="0.30"/>
  <arg name="static_max_vel" default="4.00"/>
  <arg name="static_max_acc" default="3.00"/>
  <arg name="action_owner" default="fixed"/>
  <arg name="output_dir" default=""/>
  <arg name="require_automated_acceptance" default="false"/>
  <arg name="coordinator_required" default="false"/>
  <arg name="max_episode_time" default="45.0"/>
  <arg name="spawn_wall_delay" default="3.0"/>
  <arg name="random_start_enabled" default="false"/>
  <arg name="reward_runtime_audit_enabled" default="false"/>
  <arg name="reward_config"
       default="$(find learning_speed_rl)/config/stage1_reward.yaml"/>

  <include file="$(find hector_ego_training_backend)/launch/hector_training_episode_reset.launch">
    <arg name="gui" value="$(arg gui)"/>
    <arg name="episode_count" value="$(arg episode_count)"/>
    <arg name="runner_mode" value="$(arg runner_mode)"/>
    <arg name="fixed_v_max" value="$(arg fixed_v_max)"/>
    <arg name="v_max_min" value="$(arg v_max_min)"/>
    <arg name="static_max_vel" value="$(arg static_max_vel)"/>
    <arg name="static_max_acc" value="$(arg static_max_acc)"/>
    <arg name="action_owner" value="$(arg action_owner)"/>
    <arg name="output_dir" value="$(arg output_dir)"/>
    <arg name="require_automated_acceptance" value="$(arg require_automated_acceptance)"/>
    <arg name="coordinator_required" value="$(arg coordinator_required)"/>
    <arg name="max_episode_time" value="$(arg max_episode_time)"/>
    <arg name="spawn_wall_delay" value="$(arg spawn_wall_delay)"/>
    <arg name="reset_profile_overlay"
         value="$(find hector_ego_training_backend)/config/worksite_training_reset.yaml"/>
    <arg name="random_start_enabled" value="$(arg random_start_enabled)"/>
    <arg name="reward_runtime_audit_enabled"
         value="$(arg reward_runtime_audit_enabled)"/>
    <arg name="reward_config" value="$(arg reward_config)"/>
    <arg name="world_name"
         value="$(find env_map)/../../../astra_gazebo_worlds/worksite.world"/>
    <arg name="hover_x" value="$(arg hover_x)"/>
    <arg name="hover_y" value="$(arg hover_y)"/>
    <arg name="hover_z" value="3.0"/>
    <arg name="hover_yaw" value="0.0"/>
    <arg name="entry_x" value="-4.3148485145"/>
    <arg name="entry_y" value="5.8522070123"/>
    <arg name="entry_z" value="3.0"/>
    <arg name="use_truth_registered_ego_cloud" value="true"/>
  </include>
</launch>
