<launch>
  <!-- Current AstraDroneOpen worksite UAV1 training checkpoint and ENTRY gate. -->
  <arg name="gui" default="false"/>
  <arg name="episode_count" default="5"/>
  <arg name="fixed_v_max" default="0.40"/>
  <arg name="action_owner" default="fixed"/>
  <arg name="output_dir" default=""/>
  <arg name="require_automated_acceptance" default="false"/>
  <arg name="coordinator_required" default="false"/>
  <arg name="max_episode_time" default="45.0"/>
  <arg name="spawn_wall_delay" default="3.0"/>

  <include file="$(find hector_ego_training_backend)/launch/hector_training_episode_reset.launch">
    <arg name="gui" value="$(arg gui)"/>
    <arg name="episode_count" value="$(arg episode_count)"/>
    <arg name="fixed_v_max" value="$(arg fixed_v_max)"/>
    <arg name="action_owner" value="$(arg action_owner)"/>
    <arg name="output_dir" value="$(arg output_dir)"/>
    <arg name="require_automated_acceptance" value="$(arg require_automated_acceptance)"/>
    <arg name="coordinator_required" value="$(arg coordinator_required)"/>
    <arg name="max_episode_time" value="$(arg max_episode_time)"/>
    <arg name="spawn_wall_delay" value="$(arg spawn_wall_delay)"/>
    <arg name="world_name"
         value="$(find env_map)/../../../astra_gazebo_worlds/worksite.world"/>
    <arg name="hover_x" value="0.0"/>
    <arg name="hover_y" value="0.0"/>
    <arg name="hover_z" value="3.0"/>
    <arg name="hover_yaw" value="0.0"/>
    <arg name="entry_x" value="-4.3148485145"/>
    <arg name="entry_y" value="5.8522070123"/>
    <arg name="entry_z" value="3.0"/>
    <arg name="use_truth_registered_ego_cloud" value="true"/>
  </include>
</launch>
