<launch>
  <!--
    Isolated qualification backend. It intentionally does not include PX4,
    MAVROS, EgoMavrosBridge, FAST-LIO, Observation C, SAC or an episode node.
  -->
  <arg name="enable_control" default="false"/>
  <arg name="run_qualification" default="false"/>
  <arg name="qualification_output_dir" default=""/>
  <arg name="gui" default="false"/>
  <arg name="paused" default="false"/>
  <arg name="model_name" default="hector_uav1"/>
  <arg name="world_name" default="$(find gazebo_ros)/worlds/empty.world"/>
  <arg name="model_xacro"
       default="$(find hector_quadrotor_description)/urdf/quadrotor.gazebo.xacro"/>
  <arg name="state_backend" default="gazebo_truth_training"/>
  <arg name="raw_truth_topic" default="/ground_truth/state"/>
  <arg name="training_odom_topic" default="/uav1/Odometry"/>
  <arg name="planning_frame" default="world"/>
  <arg name="body_frame" default="base_link"/>
  <arg name="hover_z" default="1.5"/>
  <arg name="max_vel" default="0.40"/>
  <arg name="max_acc" default="0.80"/>
  <arg name="dynamic_speed_limit_enabled" default="false"/>
  <arg name="require_training_observation_c" default="false"/>
  <arg name="qualification_required" default="false"/>

  <param name="/use_sim_time" value="true"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="true"/>
    <arg name="debug" value="false"/>
  </include>

  <include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor.launch">
    <arg name="name" value="$(arg model_name)"/>
    <arg name="x" value="0.0"/>
    <arg name="y" value="0.0"/>
    <arg name="z" value="$(arg hover_z)"/>
    <arg name="world_frame" value="$(arg planning_frame)"/>
    <arg name="model" value="$(arg model_xacro)"/>
    <arg name="base_link_frame" value="$(arg body_frame)"/>
    <arg name="use_ground_truth_for_tf" value="true"/>
    <arg name="use_ground_truth_for_control" value="true"/>
    <arg name="controller_definition"
         value="$(find hector_ego_training_backend)/launch/hector_pose_twist_controllers.launch"/>
  </include>

  <group ns="uav1">
    <node pkg="hector_ego_training_backend"
          type="gazebo_truth_odometry_adapter.py"
          name="gazebo_truth_odometry_adapter"
          output="screen" required="true">
      <rosparam command="load"
                file="$(find hector_ego_training_backend)/config/truth_odometry.yaml"/>
      <param name="backend_mode" value="$(arg state_backend)"/>
      <param name="frames/raw_world" value="$(arg planning_frame)"/>
      <param name="frames/raw_body" value="$(arg body_frame)"/>
      <param name="frames/planning_world" value="$(arg planning_frame)"/>
      <param name="frames/planning_body" value="$(arg body_frame)"/>
      <param name="topics/raw_truth" value="$(arg raw_truth_topic)"/>
      <param name="topics/odometry" value="$(arg training_odom_topic)"/>
      <param name="topics/metadata" value="training/odometry/metadata"/>
      <param name="topics/diagnostics" value="training/odometry/diagnostics"/>
      <param name="topics/state" value="training/odometry/state"/>
    </node>

    <include file="$(find ego_planner)/launch/advanced_param.xml">
      <arg name="drone_id" value="0"/>
      <arg name="map_size_x_" value="20.0"/>
      <arg name="map_size_y_" value="20.0"/>
      <arg name="map_size_z_" value="4.0"/>
      <arg name="odometry_topic" value="$(arg training_odom_topic)"/>
      <arg name="camera_pose_topic" value="qualification/unused_pose"/>
      <arg name="depth_topic" value="qualification/unused_depth"/>
      <arg name="cloud_topic" value="qualification/cloud"/>
      <arg name="cx" value="321.04638671875"/>
      <arg name="cy" value="243.44969177246094"/>
      <arg name="fx" value="387.229248046875"/>
      <arg name="fy" value="387.229248046875"/>
      <arg name="max_vel" value="$(arg max_vel)"/>
      <arg name="max_acc" value="$(arg max_acc)"/>
      <arg name="planning_horizon" value="5.0"/>
      <arg name="point_num" value="0"/>
      <arg name="point0_x" value="0.0"/>
      <arg name="point0_y" value="0.0"/>
      <arg name="point0_z" value="$(arg hover_z)"/>
      <arg name="point1_x" value="0.0"/>
      <arg name="point1_y" value="0.0"/>
      <arg name="point1_z" value="$(arg hover_z)"/>
      <arg name="point2_x" value="0.0"/>
      <arg name="point2_y" value="0.0"/>
      <arg name="point2_z" value="$(arg hover_z)"/>
      <arg name="point3_x" value="0.0"/>
      <arg name="point3_y" value="0.0"/>
      <arg name="point3_z" value="$(arg hover_z)"/>
      <arg name="point4_x" value="0.0"/>
      <arg name="point4_y" value="0.0"/>
      <arg name="point4_z" value="$(arg hover_z)"/>
      <arg name="flight_type" value="1"/>
      <arg name="planning_frame" value="$(arg planning_frame)"/>
      <arg name="manual_target_height" value="$(arg hover_z)"/>
      <arg name="use_goal_height" value="true"/>
      <arg name="obstacles_inflation" value="0.30"/>
      <arg name="map_resolution" value="0.10"/>
      <arg name="ground_height" value="-0.10"/>
      <arg name="virtual_ceil_height" value="3.5"/>
      <arg name="waypoint_topic" value="planning/goal"/>
      <arg name="cancel_topic" value="planning/cancel"/>
      <arg name="bspline_topic" value="planning/bspline"/>
      <arg name="data_display_topic" value="planning/data_display"/>
      <arg name="status_topic" value="planner/status"/>
      <arg name="swarm_trajectory_topic" value="swarm/trajectories"/>
      <arg name="swarm_broadcast_topic" value="swarm/broadcast_bspline"/>
      <arg name="swarm_clearance" value="1.50"/>
      <arg name="swarm_common_frame" value="$(arg planning_frame)"/>
      <arg name="dynamic_speed_limit_enabled"
           value="$(arg dynamic_speed_limit_enabled)"/>
    </include>

    <node pkg="ego_planner" type="traj_server" name="traj_server"
          output="screen" required="true">
      <param name="traj_server/time_forward" value="1.0"/>
      <param name="traj_server/frame_id" value="$(arg planning_frame)"/>
      <param name="traj_server/position_command_topic" value="planning/pos_cmd"/>
      <param name="traj_server/goal_topic" value="planning/goal"/>
      <param name="traj_server/cancel_topic" value="planning/cancel"/>
      <param name="traj_server/bspline_topic" value="planning/bspline"/>
    </node>

    <node pkg="hector_ego_training_backend"
          type="position_command_to_hector.py"
          name="position_command_to_hector"
          output="screen" required="true">
      <rosparam command="load"
                file="$(find hector_ego_training_backend)/config/adapter.yaml"/>
      <param name="enable_control" value="$(arg enable_control)"/>
      <param name="reset_hover_z" value="$(arg hover_z)"/>
      <param name="topics/position_command" value="planning/pos_cmd"/>
      <param name="topics/odometry" value="$(arg training_odom_topic)"/>
      <param name="topics/goal" value="planning/goal"/>
      <param name="topics/cancel" value="planning/cancel"/>
      <param name="topics/pose_command" value="/command/pose"/>
      <param name="topics/twist_command" value="/command/twist"/>
      <param name="topics/desired_acceleration"
             value="position_command_to_hector/desired_acceleration"/>
      <param name="topics/position_tracking_error"
             value="position_command_to_hector/position_tracking_error"/>
      <param name="topics/velocity_tracking_error"
             value="position_command_to_hector/velocity_tracking_error"/>
      <param name="topics/backend_state"
             value="position_command_to_hector/backend_state"/>
      <param name="topics/diagnostics"
             value="position_command_to_hector/diagnostics"/>
      <param name="topics/acceleration_consumed"
             value="position_command_to_hector/acceleration_consumed"/>
      <param name="services/list_controllers"
             value="/controller_manager/list_controllers"/>
      <param name="services/hector_engage" value="/engage"/>
    </node>

    <node if="$(arg run_qualification)"
          pkg="hector_ego_training_backend"
          type="hector_backend_qualifier.py"
          name="hector_backend_qualifier"
          output="screen" required="$(arg qualification_required)">
      <rosparam command="load"
                file="$(find hector_ego_training_backend)/config/qualification.yaml"/>
      <param name="output_dir" value="$(arg qualification_output_dir)"/>
      <param name="model_name" value="$(arg model_name)"/>
      <param name="frame_id" value="$(arg planning_frame)"/>
      <param name="body_frame_id" value="$(arg body_frame)"/>
      <param name="raw_truth_topic" value="$(arg raw_truth_topic)"/>
      <param name="adapted_odom_topic" value="$(arg training_odom_topic)"/>
      <param name="reset_hover_z" value="$(arg hover_z)"/>
      <param name="require_training_observation_c"
             value="$(arg require_training_observation_c)"/>
      <param name="observation_v2_clear_service"
             value="/uav1/observation_v2/clear_temporal_history"/>
      <param name="observation_c_clear_service"
             value="/uav1/observation_c/clear_temporal_history"/>
    </node>
  </group>
</launch>
