<?xml version="1.0"?>
<launch>
    <arg name="rviz" default="true"/>
    <arg name="mission_file" default="$(find offboard)/config/relative_waypoint_mission.yaml"/>
    <arg name="takeoff_height" default="3.0"/>
    <arg name="initial_hover_duration" default="3.0"/>
    <arg name="takeoff_tolerance" default="0.15"/>
    <arg name="horizontal_tolerance" default="0.20"/>
    <arg name="waypoint_tolerance" default="0.20"/>
    <arg name="yaw_tolerance_deg" default="10.0"/>
    <arg name="default_waypoint_hold" default="2.0"/>
    <arg name="waypoint_timeout" default="30.0"/>
    <arg name="return_hold_time" default="2.0"/>
    <arg name="return_timeout" default="45.0"/>
    <arg name="preland_hover_duration" default="3.0"/>
    <arg name="landing_cruise_speed" default="0.40"/>
    <arg name="landing_touchdown_speed" default="0.20"/>
    <arg name="landing_slowdown_height" default="1.2"/>
    <arg name="landing_flare_height" default="0.30"/>
    <arg name="landing_ground_confirm_time" default="0.5"/>
    <arg name="landing_disarm_retry_interval" default="1.0"/>
    <arg name="landing_contact_height" default="0.12"/>
    <arg name="landing_contact_velocity_max" default="0.10"/>
    <arg name="landing_contact_confirm_time" default="0.2"/>
    <arg name="landing_contact_descent_speed" default="0.30"/>
    <arg name="configure_px4_soft_landing" default="true"/>
    <!-- PX4 v1.15.4 声明 MPC_LAND_SPEED >= 0.60 m/s。 -->
    <arg name="px4_auto_land_speed" default="0.60"/>
    <arg name="px4_land_crawl_speed" default="0.20"/>
    <arg name="px4_land_detector_z_velocity_max" default="0.15"/>
    <arg name="failsafe_hover_duration" default="5.0"/>
    <arg name="land_mode_retry_interval" default="1.0"/>
    <arg name="extended_state_timeout" default="3.0"/>
    <arg name="phase_timeout" default="60.0"/>
    <arg name="pose_timeout" default="1.0"/>

    <node pkg="tf2_ros" type="static_transform_publisher"
          name="map_to_camera_init"
          args="0 0 0  0 0 0 1  map  camera_init"/>

    <node pkg="offboard" type="autoarming_control"
          name="autoarming_control" output="screen">
        <!-- YAML 在节点标签内加载，因此 waypoints 位于节点私有命名空间。 -->
        <rosparam command="load" file="$(arg mission_file)"/>
        <param name="takeoff_height" value="$(arg takeoff_height)"/>
        <param name="initial_hover_duration" value="$(arg initial_hover_duration)"/>
        <param name="takeoff_tolerance" value="$(arg takeoff_tolerance)"/>
        <param name="horizontal_tolerance" value="$(arg horizontal_tolerance)"/>
        <param name="waypoint_tolerance" value="$(arg waypoint_tolerance)"/>
        <param name="yaw_tolerance_deg" value="$(arg yaw_tolerance_deg)"/>
        <param name="default_waypoint_hold" value="$(arg default_waypoint_hold)"/>
        <param name="waypoint_timeout" value="$(arg waypoint_timeout)"/>
        <param name="return_hold_time" value="$(arg return_hold_time)"/>
        <param name="return_timeout" value="$(arg return_timeout)"/>
        <param name="preland_hover_duration" value="$(arg preland_hover_duration)"/>
        <param name="landing_cruise_speed" value="$(arg landing_cruise_speed)"/>
        <param name="landing_touchdown_speed" value="$(arg landing_touchdown_speed)"/>
        <param name="landing_slowdown_height" value="$(arg landing_slowdown_height)"/>
        <param name="landing_flare_height" value="$(arg landing_flare_height)"/>
        <param name="landing_ground_confirm_time" value="$(arg landing_ground_confirm_time)"/>
        <param name="landing_disarm_retry_interval" value="$(arg landing_disarm_retry_interval)"/>
        <param name="landing_contact_height" value="$(arg landing_contact_height)"/>
        <param name="landing_contact_velocity_max" value="$(arg landing_contact_velocity_max)"/>
        <param name="landing_contact_confirm_time" value="$(arg landing_contact_confirm_time)"/>
        <param name="landing_contact_descent_speed" value="$(arg landing_contact_descent_speed)"/>
        <param name="configure_px4_soft_landing" value="$(arg configure_px4_soft_landing)"/>
        <param name="px4_auto_land_speed" value="$(arg px4_auto_land_speed)"/>
        <param name="px4_land_crawl_speed" value="$(arg px4_land_crawl_speed)"/>
        <param name="px4_land_detector_z_velocity_max" value="$(arg px4_land_detector_z_velocity_max)"/>
        <param name="failsafe_hover_duration" value="$(arg failsafe_hover_duration)"/>
        <param name="land_mode_retry_interval" value="$(arg land_mode_retry_interval)"/>
        <param name="extended_state_timeout" value="$(arg extended_state_timeout)"/>
        <param name="phase_timeout" value="$(arg phase_timeout)"/>
        <param name="pose_timeout" value="$(arg pose_timeout)"/>

    </node>

    <group if="$(arg rviz)">
        <node launch-prefix="nice" pkg="rviz" type="rviz"
              name="rviz_a_loam"
              args="-d $(find offboard)/rviz_config/drone_path.rviz"/>
    </group>
</launch>
