<launch>
  <arg name="frame_prefix"/>
  <arg name="model_name"/>

  <param name="robot_description"
         command="$(find xacro)/xacro
                  $(find astra_swarm_bringup)/urdf/iris_mid360_d435.urdf.xacro
                  model_name:=$(arg model_name)"/>

  <!-- FAST-LIO supplies camera_init -> body; this fixed body convention
       connects the RViz model and all sensor optical frames to that tree. -->
  <node pkg="tf2_ros" type="static_transform_publisher"
        name="body_to_base_link"
        args="0 0 0 0 0 0 1
              $(arg frame_prefix)/body
              $(arg frame_prefix)/base_link"/>
  <node pkg="tf2_ros" type="static_transform_publisher"
        name="base_link_to_mid360"
        args="0 0 0.08 0 0 0 1
              $(arg frame_prefix)/base_link
              $(arg frame_prefix)/mid360_link"/>
  <node pkg="tf2_ros" type="static_transform_publisher"
        name="base_link_to_d435"
        args="0.12 0 0.03
              0.49999984 0.49960184 0.49999984 0.50039816
              $(arg frame_prefix)/base_link
              $(arg frame_prefix)/d435_link"/>
  <node pkg="tf2_ros" type="static_transform_publisher"
        name="d435_to_color_optical"
        args="0.0325 0 0
              0.50079585 0.49960152 0.50039785 -0.49920320
              $(arg frame_prefix)/d435_link
              $(arg frame_prefix)/d435_color_optical_frame"/>
  <node pkg="tf2_ros" type="static_transform_publisher"
        name="d435_to_depth_optical"
        args="0.0325 0 0
              0.50079585 0.49960152 0.50039785 -0.49920320
              $(arg frame_prefix)/d435_link
              $(arg frame_prefix)/d435_depth_optical_frame"/>
  <node pkg="tf2_ros" type="static_transform_publisher"
        name="d435_to_infra1_optical"
        args="0.02 0 0
              0.50079585 0.49960152 0.50039785 -0.49920320
              $(arg frame_prefix)/d435_link
              $(arg frame_prefix)/d435_infra1_optical_frame"/>
  <node pkg="tf2_ros" type="static_transform_publisher"
        name="d435_to_infra2_optical"
        args="-0.03 0 0
              0.50079585 0.49960152 0.50039785 -0.49920320
              $(arg frame_prefix)/d435_link
              $(arg frame_prefix)/d435_infra2_optical_frame"/>
</launch>
