<launch>
  <arg name="uav_ns"/>
  <arg name="uav_id"/>
  <arg name="enable_control" default="false"/>
  <arg name="takeoff_delay" default="0.0"/>
  <arg name="planning_frame"/>
  <arg name="mavros_frame"/>
  <arg name="inspection_top_height"/>
  <arg name="layer_offset" default="-4.0"/>
  <arg name="takeoff_height" default="4.0"/>
  <arg name="low_altitude_enabled" default="false"/>
  <arg name="task_config"
       default="$(find astra_tower_mission)/config/stage3_ego.yaml"/>
  <arg name="map_size_z" default="46.0"/>
  <arg name="ground_height" default="-0.50"/>
  <arg name="virtual_ceil_height" default="45.0"/>
  <arg name="mission_maximum_height" default="45.0"/>
  <arg name="max_vel" default="0.30"/>
  <arg name="max_acc" default="0.50"/>
  <arg name="planning_horizon" default="7.5"/>
  <arg name="obstacles_inflation" default="0.40"/>
  <arg name="tower_center_x"/>
  <arg name="tower_center_y" default="19.7104"/>
  <arg name="crane_center_x"/>
  <arg name="bridge_config"/>
  <arg name="report_file"/>
  <arg name="trajectory_color_r" default="1.0"/>
  <arg name="trajectory_color_g" default="0.0"/>
  <arg name="trajectory_color_b" default="0.0"/>

  <group ns="$(arg uav_ns)">
    <!-- EGO vendor uses a small set of absolute names. Scope them at launch
         without changing the locked vendor implementation. -->
    <remap from="/planning/bspline"
           to="/$(arg uav_ns)/planning/bspline"/>
    <remap from="/planning/data_display"
           to="/$(arg uav_ns)/planning/data_display"/>
    <remap from="/planning/cancel"
           to="/$(arg uav_ns)/planning/cancel"/>
    <remap from="/grid_map/occupancy"
           to="/$(arg uav_ns)/grid_map/occupancy"/>
    <remap from="/grid_map/occupancy_inflate"
           to="/$(arg uav_ns)/grid_map/occupancy_inflate"/>
    <remap from="/grid_map/unknown"
           to="/$(arg uav_ns)/grid_map/unknown"/>
    <remap from="/planner/status"
           to="/$(arg uav_ns)/planner/status"/>
    <remap from="/waypoint_generator/waypoints"
           to="/$(arg uav_ns)/waypoint_generator/waypoints"/>

    <include file="$(find ego_gazebo_bridge)/launch/ego_gazebo_bridge.launch">
      <arg name="enable_control" value="$(arg enable_control)"/>
      <arg name="auto_track_on_command" value="false"/>
      <arg name="rviz" value="false"/>
      <arg name="bridge_config_file" value="$(arg bridge_config)"/>
      <arg name="override_takeoff_height" value="true"/>
      <arg name="takeoff_height" value="$(arg takeoff_height)"/>
      <arg name="return_height" value="$(arg takeoff_height)"/>
      <arg name="planning_frame" value="$(arg planning_frame)"/>
      <arg name="mavros_frame" value="$(arg mavros_frame)"/>
      <arg name="odom_topic" value="/$(arg uav_ns)/Odometry"/>
      <arg name="cloud_topic"
           value="/$(arg uav_ns)/cloud_registered_peer_filtered"/>
      <arg name="bridge_cloud_topic"
           value="/$(arg uav_ns)/stage3/cloud_registered_filtered"/>
      <arg name="ego_cloud_topic"
           value="/$(arg uav_ns)/stage3/cloud_registered_filtered"/>
      <arg name="filter_ground_cloud" value="true"/>
      <arg name="filtered_cloud_topic"
           value="/$(arg uav_ns)/stage3/cloud_registered_filtered"/>
      <arg name="minimum_obstacle_z" value="0.20"/>
      <arg name="position_command_topic"
           value="/$(arg uav_ns)/planning/pos_cmd"/>
      <arg name="planner_goal_topic"
           value="/$(arg uav_ns)/planning/goal"/>
      <arg name="traj_start_trigger_topic"
           value="/$(arg uav_ns)/traj_start_trigger"/>
      <arg name="map_size_x" value="90.0"/>
      <arg name="map_size_y" value="120.0"/>
      <arg name="map_size_z" value="$(arg map_size_z)"/>
      <arg name="map_resolution" value="0.20"/>
      <arg name="ground_height" value="$(arg ground_height)"/>
      <arg name="virtual_ceil_height" value="$(arg virtual_ceil_height)"/>
      <arg name="max_vel" value="$(arg max_vel)"/>
      <arg name="max_acc" value="$(arg max_acc)"/>
      <arg name="planning_horizon" value="$(arg planning_horizon)"/>
      <arg name="manual_target_height" value="$(arg inspection_top_height)"/>
      <arg name="use_goal_height" value="true"/>
      <arg name="obstacles_inflation" value="$(arg obstacles_inflation)"/>
      <arg name="marker_namespace"
           value="$(arg uav_ns)_ego_trajectory"/>
      <arg name="trajectory_color_r" value="$(arg trajectory_color_r)"/>
      <arg name="trajectory_color_g" value="$(arg trajectory_color_g)"/>
      <arg name="trajectory_color_b" value="$(arg trajectory_color_b)"/>
    </include>

    <node pkg="astra_tower_mission" type="occupancy_stamp_adapter_node"
          name="occupancy_stamp_adapter" output="screen" required="true">
      <param name="input_topic"
             value="/$(arg uav_ns)/grid_map/occupancy_inflate"/>
      <param name="output_topic"
             value="/$(arg uav_ns)/stage3/occupancy_inflate"/>
      <param name="planning_frame" value="$(arg planning_frame)"/>
    </node>

    <rosparam if="$(arg low_altitude_enabled)" command="load"
              file="$(arg task_config)" ns="ego_planner_node"/>
    <param if="$(arg low_altitude_enabled)"
           name="ego_planner_node/fsm/manual_target_height"
           value="$(arg inspection_top_height)"/>

    <node pkg="astra_tower_mission" type="stage3_ego_mission_node"
          name="tower_mission" output="screen" required="true">
      <rosparam command="load"
                file="$(arg task_config)"/>
      <param name="enable_control" value="$(arg enable_control)"/>
      <param name="uav_id" value="$(arg uav_id)"/>
      <param name="takeoff_delay" value="$(arg takeoff_delay)"/>
      <param name="planning_frame" value="$(arg planning_frame)"/>
      <param name="report_file" value="$(arg report_file)"/>
      <param name="fsm/manual_target_height"
             value="$(arg inspection_top_height)"/>
      <param name="mission/inspection_top_height"
             value="$(arg inspection_top_height)"/>
      <rosparam param="mission/layer_offsets"
                subst_value="true">[0.0, $(arg layer_offset)]</rosparam>
      <param name="mission/transit_height" value="$(arg takeoff_height)"/>
      <param name="mission/maximum_height"
             value="$(arg mission_maximum_height)"/>
      <param name="mission/virtual_ceil_height"
             value="$(arg virtual_ceil_height)"/>
      <param name="low_altitude/enabled"
             value="$(arg low_altitude_enabled)"/>
      <param name="low_altitude/entry_height"
             value="$(arg inspection_top_height)"/>
      <param name="mission/direction" value="counter_clockwise"/>
      <param name="tower/frame_id" value="$(arg mavros_frame)"/>
      <param name="tower/center/x" value="$(arg tower_center_x)"/>
      <param name="tower/center/y" value="$(arg tower_center_y)"/>
      <rosparam unless="$(arg low_altitude_enabled)"
                param="static_obstacles/x"
                subst_value="true">[$(arg crane_center_x)]</rosparam>
      <param name="topics/odom" value="/$(arg uav_ns)/Odometry"/>
      <param name="topics/command"
             value="/$(arg uav_ns)/planning/pos_cmd"/>
      <param name="topics/cloud"
             value="/$(arg uav_ns)/stage3/cloud_registered_filtered"/>
      <param name="topics/occupancy_inflate"
             value="/$(arg uav_ns)/stage3/occupancy_inflate"/>
      <param name="topics/planner_status"
             value="/$(arg uav_ns)/planner/status"/>
      <param name="topics/bridge_state"
             value="/$(arg uav_ns)/ego_mavros_bridge/state"/>
      <param name="topics/mavros_state"
             value="/$(arg uav_ns)/mavros/state"/>
      <param name="topics/mavros_extended_state"
             value="/$(arg uav_ns)/mavros/extended_state"/>
      <param name="topics/goal"
             value="/$(arg uav_ns)/move_base_simple/goal"/>
      <param name="outputs/state"
             value="/$(arg uav_ns)/tower_mission/state"/>
      <param name="outputs/current_target"
             value="/$(arg uav_ns)/tower_mission/current_target"/>
      <param name="outputs/current_sector"
             value="/$(arg uav_ns)/tower_mission/current_sector"/>
      <param name="outputs/candidate_targets"
             value="/$(arg uav_ns)/tower_mission/candidate_targets"/>
      <param name="outputs/progress"
             value="/$(arg uav_ns)/tower_mission/progress"/>
      <param name="outputs/face_tower"
             value="/$(arg uav_ns)/tower_mission/face_tower"/>
      <param name="outputs/selected_tower_center"
             value="/$(arg uav_ns)/tower_mission/selected_tower_center"/>
      <param name="outputs/level_ingress_path"
             value="/$(arg uav_ns)/tower_mission/level_ingress_path"/>
      <param name="outputs/level_orbit_path"
             value="/$(arg uav_ns)/tower_mission/level_orbit_path"/>
      <param name="outputs/mission_route"
             value="/$(arg uav_ns)/tower_mission/mission_route"/>
      <param name="outputs/altitude_policy"
             value="/$(arg uav_ns)/tower_mission/altitude_policy"/>
      <param name="services/tracking"
             value="/$(arg uav_ns)/ego_mavros_bridge/enable_tracking"/>
      <param name="services/cancel"
             value="/$(arg uav_ns)/ego_mavros_bridge/cancel_current_trajectory"/>
      <param name="services/resume"
             value="/$(arg uav_ns)/ego_mavros_bridge/resume_ego"/>
      <param name="services/return_home"
             value="/$(arg uav_ns)/ego_mavros_bridge/return_home"/>
      <param name="services/land"
             value="/$(arg uav_ns)/ego_mavros_bridge/land"/>
      <param name="coordination/require_transition_permission" value="true"/>
      <param name="coordination/require_landing_permission" value="true"/>
      <param name="coordination/transition_permission_topic"
             value="/$(arg uav_ns)/swarm/transition_permission"/>
      <param name="coordination/landing_permission_topic"
             value="/$(arg uav_ns)/swarm/landing_permission"/>
    </node>
  </group>
</launch>
